<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RFC {{number}}: {{title}}</title>
  <link rel="stylesheet" type="text/css" href="rfcs.css">
  <link rel="icon" href="rust-favicon.png">
  <meta name="author" content="Nick Cameron">
  <meta name="description" content="A curated index of Rust RFCs.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="body">
    <div class="rfc-body">
      <p><a href="index.html" class="rfc-back-link">&lt;&lt; RFC index</a></p>
      <h1>RFC {{number}}: {{title}}</h1>
      <p><b>{{teams}}</b> ({{tags}})</p>
      {{{rfc_text}}}
    </div>
  </div>
  <div class="footer">Copyright 2022 Nick Cameron and the RFC authors.</div>
</body>
<script>
  let url = window.location.href;
  if (url.endsWith('html')) {
    let newUrl = url.substring(0, url.length - 5);
    // Note that this will fail with a security error when testing locally with file:// URLs.
    window.history.replaceState('', '', newUrl);
  }
</script>
</html>
